{#
/**
 * @file
 * Current Search item template.
 */
#}
<span class="facets-current-search--item">
  <span class="label">{{ label }}</span> <span class="remove-link"><a href="{{ url }}">x</a></span>
</span>
